{% extends "layout/blog.njk" %}

{% block left %}
<div class="posts-list-wrp">
    {% for item in posts %}
    <div class="post-item">
        <div class="title">
            <a href="/posts/{{item.id}}">{{item.title}}</a>
            {% if username %}
                <a href="/admin/posts/">编辑</a>
            {% endif %}
        </div>
        <div class="summary">
            <p>{{item.summary}}</p>
        </div>
        <div class="footer">
            <span>2020年12月01日</span>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination-wrp">第一页</div>
{% endblock %}

{% block right %}
    {% include "components/blogInfo.njk" %}
{% endblock %}

