<header>
    <h1>博客后台管理</h1>
    <ul>
        <li>
            <a href="/admin/">后台首页</a>
            <a href="/admin/posts">文章管理</a>
            <a href="/admin/blog">博客设置</a>
        </li>
    </ul>
</header>