<div class="side-blog-info-wrp">
    <div class="profile">
        <div class="card">
            <div class="card-header"><span>Card Title</span></div>
            <div class="card-body">
                <div class="profile-self-info">
                    <div>
                        <img class="profile-avatar" src="{{blog.avatar}}" alt="">
                    </div>
                    <div>
                        <div>{{blog.nickName}}</div>
                        <div>{{blog.location}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="card">
            <div class="card-header">所有标签</div>
            <div class="card-body"></div>
        </div>
    </div>
</div>
